
*{
    margin: 0;
    padding: 0;
}

.bg-img{
    background: url(imags/img.save.png);
    background-position:center;
    background-size: cover;
    height: 70vh;
    margin-top: 40px;
}





.bg-devis{
    background-image: url(img/Design\ sans\ titre\ \(14\).png);
    color: aliceblue;
    font: 1em sans-serif;
}




.head h1{
   
    border: rgb(255, 255, 255) solid;
    width: 20%;
    padding: 10px;
    margin-top: 100PX;
    
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    padding-right: 30px;
    text-align: end;
    font-size: 40px;
}

.container{
    
    width: 80vw;
    height: 100vh;
    margin: auto;
    padding: 20px;
}

.Joy_Game{
    
    font-size: 120px;
    display: flex;
    justify-content: flex-end;
    
}

.ul_Titls{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    width: 80vw;
    margin: 30px 0px;
    padding: 10px;
    border-radius: 25px;
    color: black;
    font-size: 25px;
    
}

.ul_content{
    
    justify-content: space-around;
    width: 100%;
    margin: 20px 0px;
    padding: 10px;

}
.bar{
   
    width: auto;
    margin: 00px 0px;
    padding: 10px;
    border-radius: 25px;
   
    
}

.line1{
    width: 80vw;
    margin-left: 20px;
    margin-top: 70px;
}
.line2{
    width: 80vw;
    margin-left: 20px;
}

.Total1{
   
    display: flex;
    justify-content: space-between;
    width: 32%;
    
    margin-left: 48vw;
    

}

.Total11{
    padding: 20px;
    line-height: 40px;

}

.Total12{
    padding: 20px;
    line-height: 40px;
}


.grandTotal{
    display: flex;
    justify-content: end;
   
    font-size: 35px;
    width: 40%;
    margin-left: 41vw;
    font-weight: bold;
    padding: 20px;
}

.print{
padding: 10px;
margin: 20px;
width: 15%;
font-size: 30px;
border-radius: 10px;
background-color: transparent;

border:3px solid rgb(183, 68, 154);;
color: rgb(255, 255, 255);
transition: background-color 0.3s, letter-spacing 0.3s;
cursor: pointer;

}

.print:hover{
    background: rgba(79, 49, 65, 0.292) ;
   letter-spacing: 1px;
   
}

.validate{
    padding: 10px;
    margin: 20px;
    width: 20%;
    background-color: rgb(122, 11, 95);
    color: rgb(255, 255, 255);
    font-size: 30px;
    border-radius: 10px;
    border:none;
    transition: background-color 0.3s, letter-spacing 0.3s;
    cursor: pointer;
    
 }

.validate:hover{
   background: rgb(163, 15, 139) ;
   letter-spacing: 1px;
   
}


@media print {
    .print, .validate {
      display: none;
    }
  }
  

 .contactinfo h3{
    margin-top: 70px;
    padding: 0px;

 }

 .contactinfo  p{
    margin-bottom: 10px;
 }

 .Contact{
    width: 20%;
    text-align: center;
    font-size: 21px;
 }

 .mediaxx{
    font-size: 25px;
 }







.custom-row {
    
    color: #ffffff;
  }
  
  
  

   .ul_content {
    
    display: flex;
    justify-content: space-around;
    width: 113%; 
    margin: 20px 0;
    padding: 10px;
    border-radius: 25px;
}

.tbodyposition {
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
    width: 80vw; 
}

.custom-row {
    display: flex;
    justify-content: space-between; /* Space around items in each row */
    align-items: center; /* Center vertically within each row */
    padding: 10px;
    margin: 10px 0;
    border-radius: 25px;
   
}

.custom-nom,
.custom-quantite,
.custom-prix-unitaire,
.custom-prix-total {
    flex: 1; /* Distribute space evenly within each row */
    text-align: center; /* Center the text horizontally */
}









  

  @media (max-width: 767px) {


    
.head h1{
   
    border: rgb(255, 255, 255) solid;
    width: 50%;
    padding: 10px;
    margin-top: 30PX;
    
    
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    padding-right: 30px;
    text-align: center;
    font-size: 40px;
}
.head{

    display: flex;
    justify-content: center;
}
.container{
    
    
    margin: auto;
    padding: 20px;
    width: auto;
}

.Joy_Game{
    
    width: 80vw;
    font-size: 25px;
    display: flex;
    justify-content: center;
    margin: 20px;
    
}

.ul_Titls{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    
    margin: 30px 0px;
    padding: 10px;
    border-radius: 25px;
    color: black;
    font-size: 07px;
    width: 70vw;
    
}




.bar{
   
    width: 90%;
    margin: 00px 0px;
    padding: 10px;
    border-radius: 25px;
    
}

.line1{
    width: 65vw;
    margin-left: 10vw;
    margin-top: 40px;
}

.line2{
    width: 65vw;
    margin-left: 10vw;
    margin-top: 20px;
}

.Total1{
   
    display: flex;
    justify-content: space-around;
    width: 35%;
    height: auto;
    font-size: 10px;
    margin-left: 40vw;
    margin-top: 20px;

}

.Total11{
   
    margin: 0px;
    line-height: 40px;
    padding: 0px;

   
    

}

.Total12{
    margin: 00px;
    line-height: 40px;
    padding: 0px;
  
    
}


.grandTotal{
    display: flex;
    justify-content: end;
   
    font-size: 20px;
    width: 80%;
    margin-left: 0px;
    
    font-weight: bold;
    padding: 10px;
}

.print{
padding: 10px;
margin: 20px;
width: 20%;
font-size: 15px;
border-radius: 10px;
background-color: transparent;

border:1px solid rgb(183, 68, 154);;
color: rgb(255, 255, 255);
transition: background-color 0.3s, letter-spacing 0.3s;
cursor: pointer;

}

.print:hover{
    background: rgba(79, 49, 65, 0.292) ;
   letter-spacing: 1px;
   
}

.validate{
    padding: 10px;
    margin: 20px;
    width: 20%;
    font-size: 15px;
    background-color: rgb(122, 11, 95);
    color: rgb(255, 255, 255);
    
    border-radius: 10px;
    border:none;
    transition: background-color 0.3s, letter-spacing 0.3s;
    cursor: pointer;
    
 }

.validate:hover{
   background: rgb(163, 15, 139) ;
   letter-spacing: 1px;
   
}


 .contactinfo h3{
    margin-top: 70px;
    padding: 0px;

 }

 .contactinfo  p{
    margin-bottom: 10px;
 }

 .Contact{
    width: 20%;
    text-align: center;
    font-size: 10px;
 }

 .mediaxx{
    font-size: 20px;
 }


.ul_content{
    background-color: aqua;
    
}

.ul_content {
    
    display: flex;
    justify-content: space-around;
    width: 113%; 
    margin: 20px 0;
    padding: 10px;
    border-radius: 25px;
}

.tbodyposition {
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
    width: 70vw; 
}

.custom-row {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin: 10px 0;
    border-radius: 25px;
   
}

.custom-nom,
.custom-quantite,
.custom-prix-unitaire,
.custom-prix-total {
    flex: 1; 
    text-align: center; 
    font-size: 7px;
}



} 